
html {
    margin: 0;
    padding: 0; 
    overflow-y: scroll;
}

body {
    position: relative;
    margin:0;
    padding:0;
}


.backdrop{
    background-color: #3e1c78;
    position:relative;
    margin:0;
    padding:0;
    min-height: 100vh;
}

.heading-text {
    margin-bottom: 1%;
    padding:0;
    font-size: max(3.5vw, 65px);
    letter-spacing: 0.1em;
    font-family: "Space Mono", sans-serif, Helvetica, Arial;
    color:#ED7550;
    text-align: center;
    position: relative;
    font-weight: bolder;
}

.subheading-text {
    margin: 0;
    padding:0;
    font-size:200%;
    letter-spacing: 0.1em;
    font-family: "Space Mono", sans-serif, Helvetica, Arial;
    color:#ED7550;
    text-align: center;
    position: relative;
    font-weight: 500;
}

.email-text {
    margin-bottom: 1%;
    padding:0;
    font-size:300%;
    letter-spacing: 0.1em;
    font-family: "Space Mono", sans-serif, Helvetica, Arial;
    color:#ED7550;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.btn {
    background: none;
    display: inline-block;
    border: none;
    margin-left: 1vw;
    margin-right: 1vw;
    transition: .2s; 
}


.login-btn {
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    display: block;
    border: none;
    margin-left: 5vw;
    margin-right: 5vw;
    transition: .2s; 
    width: 10vw;
    height: 5vw;
    border-radius: 25px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    min-width: 200px;
    min-height: 100px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 22px;
    font-family: "Space Mono";
    position: relative;
}

.login-btns {
    margin: 0;
}

.edit-submit-btn:hover, .single-product-add:hover, #delete-btn:hover, .logout-btn2:hover, .admin-btn:hover ,#switch-view-btn:hover, .modify-product-btn:hover, .login-btn:hover, .submit-btn:hover, .submit-btn2:hover, .submit-btn3:hover, .logout-btn:hover, #mng-acc-btn:hover, #date-range-submit:hover, #cart-btn:hover, #product-search-submit:hover, .product:hover, .view-product-btn:hover, input[type="date"]::-webkit-calendar-picker-indicator:hover {
    transform: scale(1.03);
}

.logout-btn {
    display: block;
    border: none;
    margin: auto;
    transition: .2s; 
    width: 200px;
    height: 80px;
    border-radius: 25px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    min-width: 200px;
    background-image: linear-gradient(to bottom right, #c92525, #b71a1a); 
}

.button-wrapper {
    background-color: #E96A8C;
    height: 1vh;
    width: 100vw;
}

.buttons {
    text-align: center;
    position: relative;
    margin: 0;
    width: 100%;
    
}

.button-text {
    text-decoration:none;
    text-align: center;
    color: #ee7a4b;
    font-size: 2.5vw;
    font-size: max(2.5vw, 30pt);
    font-family: "Space Mono", sans-serif, Helvetica, Arial;
}

hr {
    border-top: 1px solid #f4a127;
}

.text-container {
    width: 75%;
    max-width: 1000px;
    margin: auto;
    height: 100%;
    border-radius: 10px;
    position: relative;
    top: 2vh;
}

.active-page {
    text-decoration:underline;
}

.menu-bar li{
    list-style: none;
    display: inline-block;
}

.logins-btns li{
    list-style: none;
    display: inline-block;
}

.logins-btns {
    margin: 0;
    text-align: center;
}

p {
    color: black;
    font-family: Helvetica;
}


#mng-acc-pic {
    width: 60%;
    text-align: center;
}

#cart-pic {
    width: 60%;
    text-align: center;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 0;
}

#mng-acc-btn {
    position: fixed;
    right: 1vh;
    top: 3vh;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    display: block;
    border: none;
    margin: 0;
    transition: .2s; 
    width: 82px;
    height: 67px;
    border-radius: 25px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
}

#cart-btn {
    position: fixed;
    right: 12vh;
    top: 3vh;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    display: block;
    border: none;
    margin: 0;
    transition: .2s; 
    width: 82px;
    height: 67px;
    border-radius: 25px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    z-index: 10;
}

#switch-view-btn {
    position: fixed;
    left: 1vh;
    top: 3vh;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    display: block;
    border: none;
    margin: 0;
    transition: .2s; 
    width: 215px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    z-index: 10;
}

.switch-view-text {
    font-family: "Space Mono";
    color: white;
}

#edit-details {
    font-size: 20px;
}

#view-access-logs {
    font-size: 20px;
}

#edit-details-btn {
    font-family: "Space Mono";
    width: 40%;
    height: 8vh;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7); 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .2s; 
}

#delete-account-btn {
    font-family: "Space Mono";
    width: 40%;
    height: 8vh;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7); 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    transition: .2s;
}


#logo {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50); 
}

#logo-small {
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.50); 

}

  .btn:hover,.footer-button:hover {
    transform: scale(1.1);
  }


.footer {
    background-color: #16D7C0;
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    text-align: center;
    display: inline-block;
}

.footer-menu li{
    list-style: none;
    display: inline-block;
    margin-left: 3vw;
    margin-right: 3vw;
}

.footer-button {
    background: none;
    border: none;
    margin: auto;
    transition: transform .2s; 
}

.footer-button-text {
    font-family: "Space Mono";
    font-weight: 900;
    text-decoration: none;
    color: black;
    font-size: max(1vw, 20pt);
}

.login-text, .edit-details-btn-text {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 22px;
    font-family: "Space Mono";
    width: 100%;
    position: relative;
    
}

.bottom-text {
    font-size: larger;
}

.register-form {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #40404d, #414050, #434153, #454156, #474159, #473f59, #463e59, #463c59, #433957, #403555, #3e3252, #3b2f50);
    border-radius: 30px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #40404d, #414050, #434153, #454156, #474159, #473f59, #463e59, #463c59, #433957, #403555, #3e3252, #3b2f50);
    border-radius: 30px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    max-width: 600px;
    min-width: 400px;
}

.edit-details-form {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #40404d, #414050, #434153, #454156, #474159, #473f59, #463e59, #463c59, #433957, #403555, #3e3252, #3b2f50);
    border-radius: 30px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 600px;
}

label {
    font-family: "Space Mono";
    position: relative;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 85%;
    position: relative;
    padding: 10px;
  }

  .register-input {
    width: 95%;
  }
  
label {
    display: block;
    margin-bottom: 5px;
    color: #bdc3c7;
    font-size: max(150%, 20pt);
}
  
input[type="text"], input[type="password"] {
    padding: 10px;
    background-color: #34495e;
    border: 1px solid #566573; 
    border-radius: 4px;
    color: #fff; 
    font-size: 14px;
    position: relative;
    /* font-size: min(20pt, 10vw) */
 }

 .form {
    width: 100%;
 }
  
.submit-btn {
    font-family: "Space Mono";
    width: 50%;
    height: 10%;
    padding: 30px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7); 
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .2s; 
    margin-left: auto;
    margin-right: auto;
}

.btn-row {
    margin: auto;
    display: block;
    text-align: center;
}


#delete-btn {
    font-family: "Space Mono";
    padding: 20px; 
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .2s; 
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to bottom right, #c92525, #b71a1a); 

}

.submit-btn2 {
    font-family: "Space Mono";
    width: 40%;
    height: 30%;
    padding: 10px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: scale 1.1;
    margin-bottom: 5px;
    position: relative;
    bottom: 8%;
    transition: .2s; 
    margin-left: auto;
    margin-right: auto;
}

.submit-btn3 {
    font-family: "Space Mono";
    height: 30%;
    padding: 10px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: scale 1.1;
    margin-bottom: 5px;
    position: relative;
    transition: .2s; 
    margin-left: auto;
    margin-right: auto;
}

.login-redirects {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Space Mono";
    position: relative;
    bottom: 6%;
    color: #bdc3c7;
}

.login-redirects:hover {
    text-decoration: underline;
}

.error-msg {
    font-family: "Space Mono";
    text-align: center;
    color: red;
    font-size: larger;
}

.success-msg {
    font-family: "Space Mono";
    text-align: center;
    color: #0db10d;
    font-size: larger;
}

.access-log {
    font-family: "Space Mono";
    font-size: 18px;
    color: white;
    padding: 20px;
}

.access-logs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-range, .product-search {
    text-align: center;
}

.product-search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.date-range-form-input, .product-search-form-input {
    display: inline;
    margin: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #34495e;
    border: 1px solid #566573; 
    border-radius: 4px;
    color: #fff; 
}

.date-range-form-label, .product-search-form-label {
    display:inline;
    margin: 10px;
    font-size: 28px;
}

#date-range-submit, #product-search-submit {
    font-family: "Space Mono";
    padding: 10px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7); 
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20);
}

hr {
    border-top: 2px solid rgba(233, 106, 140, 0.4);
    border-bottom: none;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 410px);
    column-gap: 60px;
    row-gap: 90px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    transition: .2s;
    position: relative;
    z-index: 1;
}

.product-img {
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}

.product-name {
    font-family: "Space Mono";
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

#name {
    width: 300px;
    font-size: 18px;
    margin-left: 200px;
 }

 #search-pic {
    text-align: center;
    height: 30px;
    width: 30px;
    padding-left: 15px;
    padding-right: 15px;
 }

 .buy-line {
    display: flex;
    justify-content: stretch;
    width: 100%;
    align-items: center;
    bottom: 0;
    
 }

 .view-product-btn {
    font-family: "Space Mono";
    position: relative;
    width: 50%;
    padding: 10px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: scale 1.1;
    transition: .2s; 
    margin-left: 125px;
    
}

.price {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Space Mono";
}

.product-name:hover, .product-name-staff:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fill {
    height: 100%;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color:#6ac623;
    filter: invert(1);
    border-radius: 8px;
    padding: 8px;
    color: white;
    cursor: pointer;
    transition: .2s; 
}

.access-log-table {
    position: relative;
}

.access-logs-header {
    font-family: "Space Mono";
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
    font-size: 20px;
    text-underline-offset: 3px;
}

.products-view-staff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.product-staff {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 70%;
    background-color: #34495e;
    border: 1px solid #566573; 
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-pic-staff {
    max-height: 150px;
    max-width: 175px;
    min-height: 150px;
    min-width: 175px;
    border-radius: 10px;
    padding: 5px;
}

.product-name-staff {
    color: white;
    font-family: "Space Mono";
    margin-left: 75px;
    margin-right: 75px;
}

.modify-product-btns {
    display: flex;
    flex-direction: column;
}

.modify-product-btn {
    font-family: "Space Mono";
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
    color: white;
    cursor: pointer;
}

#edit-product {
    background-image: linear-gradient(to bottom right, #d3aa31, #f97e02);

}
#delete-product {
    background-image: linear-gradient(to bottom right, #c92525, #b71a1a); 
}

#add-product {
    background-image: linear-gradient(to bottom right, #36862b, green); 
}

#mng-acc-logout {
    margin-top: 50px;
    max-height: 80px;
}

button {
    cursor: pointer;
}

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }

  .result-number {
    font-family: "Space Mono";
    text-align: center;
    font-style: italic;
    font-weight: 700;
    color: white;
  }

  .admin-btn {
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    display: block;
    border: none;
    margin: auto;
    transition: .2s; 
    width: 45%;
    height: 5vw;
    border-radius: 25px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    min-width: 200px;
    min-height: 100px;
    color: white;
    font-size: 200%;
    font-family: "Space Mono";
    font-weight: bold;
    line-height: 5vw;
}

.admin-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}

.admin-table {
    font-size: max(1vw, 30px);
    font-family: "Space Mono", sans-serif, Helvetica, Arial;
    color:#ED7550;
    text-align: center;
    margin-inline: auto;
    font-weight: bold;
    
    --border: 4px solid #ff66ff;
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
  }
  
.admin-table th:not(:last-child),
.admin-table td:not(:last-child) {
    border-right: 4px solid #ff66ff;
}

.admin-table td, .admin-table th {
    padding: 8px;
}

.admin-table tr:not(:last-child)>td,
.admin-table tr:not(:last-child)>th {
    border-bottom: var(--border);
}

.admin-table tr:nth-child(even){background-color: darkblue;}
.admin-table tr:nth-child(odd){background-color: midnightblue;}

.admin-table tr:last-child td:not(:last-child) {
    border: none;
}

.admin-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #660066;
    color: DarkOrange;
    font-size: max(1.5vw, 35px);
}

.x-btn {
    display:block;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    font-size: max(1.5vw, 35px);
    color: white;
    border: 1px solid #990099;
    background-color: #741AB7;
}

.admin-search {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 50px;
    margin-inline: 100px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 80px 0;
    background-image: linear-gradient(to right top, #40404d, #414050, #434153, #454156, #474159, #473f59, #463e59, #463c59, #433957, #403555, #3e3252, #3b2f50);
    width: 60%;
    border-radius: 30px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20);
    margin-inline: auto;
    min-width: 700px;
    min-height: 100%;
}

.details input[type="text"], .details input[type="password"] {
    min-width: 500px;
    width: 100%;
}

.details select {
    width: 100%;
    padding: 10px;
    background-color: #34495e;
    border: 1px solid #566573; 
    border-radius: 4px;
    color: #fff; 
    font-size: 15pt;
    position: relative;
}

.details table {
    table-layout: fixed;
}

.details td {
    width: 50%;
    padding: 1vw 2vw;
}

.page-btns {
    display: flex;
    flex-direction: row;
    margin-inline: 25%;
}

.logout-btn2 {
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7);
    display: block;
    border: none;
    margin: auto;
    transition: .2s; 
    width: 200px;
    height: 80px;
    border-radius: 25px;
    box-shadow: 0 8px 2px -3px rgba(0, 0, 0, 0.20); 
    min-width: 200px;
    min-height: 100px;
}

.product-view-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10vh;
    margin-bottom: 2%;
}
.product-details-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    align-items: flex-start;
    justify-content: center;
    min-width: 60%;
}

.single-product-image {
    min-width: 40%;
    height: auto;
    border-radius: 10PX;
}

.single-product-category {
    color: #ee7a4b;
}
.single-product-name {
    color: #ee7a4b;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.single-product-price {
    color: #ee7a4b;
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}
.single-product-description {
    color: #a39f9d;
    font-size: 15px;
    margin: 10px;
}

.single-product-add {
    margin-left: 0;
    margin-right: 0;
    width: 40%;
    font-family: "Space Mono";
    padding: 10px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7); 
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .2s; 
    margin-bottom: 30px;
}

p {
    font-family: "Space Mono";
}

#edit-product-name {
    margin-left: 10px;
    width: 400px;
}
#edit-product-category {
    font-size: 12px;
}
#edit-product-price {
    font-size: 20px;
    margin-left: 10px;
    width: 100px

}
.dollar-icon {
    font-family: "Space Mono";
    color: white;
    font-size: 30px;
}
.price-line, .category-line, .name-line {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    margin-bottom: 10px;
}

textarea {
    padding: 10px;
    background-color: #34495e;
    border: 1px solid #566573; 
    border-radius: 4px;
    color: #fff; 
    font-size: 14px;
    position: relative;
    margin-left: 10px;
}

.category-label, .name-label {
    color: white;
}

.description-label {
    color: white;
    margin-left: 10px;
}

.edit-product-btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edit-submit-btn {
    margin: 20px;
    font-family: "Space Mono";
    width: 80%;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #8125C9, #741AB7); 
    color: #fff;
    font-size: larger;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: .2s; 
}

#edit-delete {
    background-image: linear-gradient(to bottom right, #c92525, #b71a1a); 
}

#edit-add {
    background-image: linear-gradient(to bottom right, #36862b, green); 
}

.image-input {
    color: white;
    font-family: "Space Mono";
}

.edit-product-image {
    min-width: 100%;
    height: auto;
    border-radius: 10PX;
}






