body {
  font-family: 'Roboto', sans-serif;
}

.column-container {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

#food-image {
  border: 2px solid #555;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #2e2c2e; 
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: rgb(203, 53, 53);
}


