body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a2a8d3;
    font-family: "Roboto", sans-serif;
}

h1 {
    margin: 0;
    padding: 0.67em;
    font-size: 3em;
    text-align: center;
}

header {
    display: flex;
    background-color: #142d4c;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0 0.3em #385170;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    padding: 0 1em;
}

header a {
    text-decoration: none;
    background-color: #385170;
    color: white;
    padding: 1em 1.5em;
    width: 4vw;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    display: flex;
}

header a.active {
    background-color: #f44336;
}

header a:hover, a:active {
    background-color: #9fd3c7;
}

header a:hover.active, a:active.active {
    background-color: red;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 10% 10% 5% 10%;
    padding: 0 0 2% 0;
    border: 3px solid white;
    background-color: #f1f1f1;
    box-shadow: 2px 2px grey;
  
    /* For testing scrolling */
    min-height: 0;
}

.dashboard ul {
    padding: 0 0 3% 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dashboard li {
    padding: 20px;
}

.dashboard a {
    text-decoration: none;
    color: black;
    padding: 1em 1.5em;
    width: 10vw;
    height: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    display: flex;
    border: 3px solid #a2a8d3;
}

.dashboard a:hover {
    border: 3px solid #385170;
}

footer {
    background-color: #142d4c;
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

footer li {
    padding: 0 1em;
}

footer a {
    color: #a2a8d3;
}

form {
    margin: 10% 0 0 0;
    border: 3px solid white;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 2px grey;
}

form h1 {
    padding: 0 0 1em 0;
}

form button {
    font-size: 1.2em;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 5em 0 1em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

form button:hover, a:hover {
    opacity: 0.8;
}

form span {
    float: right;
}

form .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

form a.cancelbtn {
    text-decoration: none;
    color: white;
}

form .container {
    padding-top: 16px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logoutbtn {
    text-decoration: none;
    background-color: #385170;
    color: white;
    padding: 1em 1.5em;
    width: 4vw;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    display: flex;
}

#center {
    display: flex;
    justify-content: center;
}