body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #a2a8d3;
    font-family: "Roboto", sans-serif;
}

button:hover, a:hover{
    opacity: 0.8;
}

h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
}

header {
    display: flex;
    background-color: #142d4c;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0 0.3em #385170;
}

header ul {
    display: flex;
    list-style-type: none;
}

header li {
    padding: 0 1em;
}

header a {
    text-decoration: none;
    background-color: #385170;
    color: white;
    padding: 1em 1.5em;
    width: 4vw;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    display: flex;
}

header a.active {
    background-color: #f44336;
}

header a:hover,
a:active {
    background-color: #9fd3c7;
}

header a:hover.active,
a:active.active {
    background-color: red;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 10em 15em 5em 15em;
    padding: 2%;
    border: 3px solid white;
    background-color: #f1f1f1;
    box-shadow: 2px 2px grey;
    align-items: center;
    gap: 2em;

    /* For testing scrolling */
    min-height: 0;
}

.dashboard ul {
    padding: 0 0 3% 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dashboard li {
    padding: 20px;
}

.dashboard a {
    text-decoration: none;
    color: black;
    padding: 1em 1.5em;
    width: 10vw;
    height: 3em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    display: flex;
    border: 3px solid #a2a8d3;
}

.dashboard a:hover {
    border: 3px solid #385170;
}

footer {
    background-color: #142d4c;
    color: white;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

footer li {
    padding: 0 1em;
}

footer a {
    color: #a2a8d3;
}

.form {
    margin: 10% 0 3% 0;
    border: 3px solid white;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 2px grey;
}

.form h1 {
    padding: 0 0 1em 0;
}

.form button {
    font-size: 1.2em;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 5em 0 1em 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.form span {
    float: right;
}

.form .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.form a.cancelbtn {
    text-decoration: none;
    color: white;
}

.form .container {
    padding-top: 16px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid lightgray;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.form input[type=text],
.form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.logoutbtn, button{
    text-decoration: none;
    background-color: #385170;
    color: white;
    padding: 1em 1.5em;
    width: 4vw;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    border-style: none;
    display: flex;
}

#center {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 0 0 20px 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.search button {
    height: 3em;
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 50px;
    padding: 52px 0 0 0;
}

a.button{
    text-decoration: none;
    background-color: #385170;
    font-size: 13px;
    color: white;
    width: 4vw;
    height: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    line-height: 26px;
    display: flex;
}