<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>

    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>com.uts.restaurant.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.uts.restaurant.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.uts.restaurant.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>View-Users</servlet-name>
        <servlet-class>com.uts.restaurant.controller.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View-Users</servlet-name>
        <url-pattern>/view-users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>View-User</servlet-name>
        <servlet-class>com.uts.restaurant.controller.ViewUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View-User</servlet-name>
        <url-pattern>/view-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Update-User</servlet-name>
        <servlet-class>com.uts.restaurant.controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update-User</servlet-name>
        <url-pattern>/update-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Add-User</servlet-name>
        <servlet-class>com.uts.restaurant.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add-User</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete-User</servlet-name>
        <servlet-class>com.uts.restaurant.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete-User</servlet-name>
        <url-pattern>/delete-user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>View-Access-Logs</servlet-name>
        <servlet-class>com.uts.restaurant.controller.ViewAccessLogsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View-Access-Logs</servlet-name>
        <url-pattern>/view-access-logs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>View-Product-Logs</servlet-name>
        <servlet-class>com.uts.restaurant.controller.ViewProductLogsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>View-Product-Logs</servlet-name>
        <url-pattern>/view-product-logs</url-pattern>
    </servlet-mapping>
</web-app>